In [218]:
from sqlalchemy import create_engine

In [219]:
host='localhost'
user='root'
password='Alliance98'
port= 3306
database='swye360'

def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )

In [220]:
engine = get_connection()
print(f"Connection to the {host} for user {user} created successfully.")

Connection to the localhost for user root created successfully.

In [221]:
import pandas as pd

In [222]:
#grade 2 math data
grade2_math = pd.read_sql('SELECT `assessments_grade2`.`id`, `assessments_grade2`.`Local_ID`, `assessments_grade2`.`DRTM_Percent_Score`, `assessments_grade2`.`DRTM_Date_Taken`, `assessments_grade2`.`FLCBA_Percent_Score`, `assessments_grade2`.`FLCBA_Date_Taken`, `assessments_grade2`.`CBA2D3D_Percent_Score`, `assessments_grade2`.`CBA2D3D_Date_Taken`, `assessments_grade2`.`MDCBA_Percent_Score`, `assessments_grade2`.`MDCBA_Date_Taken`, `assessments_grade2`.`PVCBA_Percent_Score`, `assessments_grade2`.`PVCBA_Date_Taken` FROM assessments_grade2', engine)
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken
0,1,2812,-,-,-,-,73%,12/10/2019,87%,11/4/2019,79%,9/20/2019
1,2,2919,-,-,-,-,60%,2/26/2018,-,-,-,-
2,3,2557,-,-,-,-,100%,2/26/2018,-,-,-,-
3,4,2864,-,-,-,-,93%,12/10/2019,80%,11/4/2019,71%,9/20/2019
4,5,2877,-,-,-,-,93%,11/23/2020,80%,10/27/2020,67%,9/7/2020

In [223]:
#grade 3 math data
grade3_math = pd.read_sql('SELECT `Assessments_grade3_math`.`id`, `Assessments_grade3_math`.`Local_ID`, `Assessments_grade3_math`.`Math_CBA1_Percent_Score`, `Assessments_grade3_math`.`Math_CBA1_Date_Taken`, `Assessments_grade3_math`.`CBA_2_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_2_Math_Date_Taken`, `Assessments_grade3_math`.`CBA_3_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_3_Math_Date_Taken`, `Assessments_grade3_math`.`CBA_4_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_4_Math_Date_Taken`, `Assessments_grade3_math`.`CBA_5_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_5_Math_Date_Taken` FROM assessments_grade3_math', engine)
grade3_math.head()

,id,Local_ID,Math_CBA1_Percent_Score,Math_CBA1_Date_Taken,CBA_2_Math_Percent_Score,CBA_2_Math_Date_Taken,CBA_3_Math_Percent_Score,CBA_3_Math_Date_Taken,CBA_4_Math_Percent_Score,CBA_4_Math_Date_Taken,CBA_5_Math_Percent_Score,CBA_5_Math_Date_Taken
0,1,3283,42%,09/19/21,75%,11/03/21,75%,12/13/21,50%,02/10/22,50%,03/30/22
1,2,3279,50%,09/19/21,58%,11/03/21,-,-,-,-,-,-
2,3,3166,-,-,-,-,-,-,-,-,-,-
3,4,2812,-,-,-,-,-,-,-,-,-,-
4,5,2864,-,-,-,-,-,-,-,-,-,-

In [224]:
#grade 3 reading data
grade3_reading = pd.read_sql('SELECT `Assessments_grade3_reading`.`id`, `Assessments_grade3_reading`.`Local_ID`, `Assessments_grade3_reading`.`Reading_Non_Fiction_Percent_Score`, `Assessments_grade3_reading`.`Reading_Non_Fiction_Date_Taken`, `Assessments_grade3_reading`.`Reading_2021_Percent_Score`, `Assessments_grade3_reading`.`Reading_2021_Date_Taken`, `Assessments_grade3_reading`.`McCrary_CBA3_Reading_Percent_Score`, `Assessments_grade3_reading`.`McCrary_CBA3_Reading_Date_Taken`, `Assessments_grade3_reading`.`Reading_Test_Percent_Score`, `Assessments_grade3_reading`.`Reading_Test_Date_Taken`, `Assessments_grade3_reading`.`McCrary_CBA4_Reading_Percent_Score`, `Assessments_grade3_reading`.`McCrary_CBA4_Reading_Date_Taken`, `Assessments_grade3_reading`.`Benchmark_2019_Percent_Score`, `Assessments_grade3_reading`.`Benchmark_2019_Date_Taken`, `Assessments_grade3_reading`.`Reading_fiction_Percent_Score`, `Assessments_grade3_reading`.`Reading_fiction_Date_Taken`, `Assessments_grade3_reading`.`Reading_CBA5_Percent_Score`, `Assessments_grade3_reading`.`Reading_CBA5_Date_Taken` FROM assessments_grade3_reading', engine)
grade3_reading.head()

,id,Local_ID,Reading_Non_Fiction_Percent_Score,Reading_Non_Fiction_Date_Taken,Reading_2021_Percent_Score,Reading_2021_Date_Taken,McCrary_CBA3_Reading_Percent_Score,McCrary_CBA3_Reading_Date_Taken,Reading_Test_Percent_Score,Reading_Test_Date_Taken,McCrary_CBA4_Reading_Percent_Score,McCrary_CBA4_Reading_Date_Taken,Benchmark_2019_Percent_Score,Benchmark_2019_Date_Taken,Reading_fiction_Percent_Score,Reading_fiction_Date_Taken,Reading_CBA5_Percent_Score,Reading_CBA5_Date_Taken
0,1,3283,20%,09/22/21,60%,11/04/21,60%,12/13/21,60%,01/19/22,60%,02/07/22,59%,04/14/22,60%,10/14/21,20%,03/30/22
1,2,3279,-,-,30%,11/04/21,-,-,-,-,-,-,-,-,70%,10/14/21,-,-
2,3,3166,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,4,2812,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,5,2864,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [225]:
#grade 4 math data
grade4_math = pd.read_sql('SELECT `Assessments_grade4_math`.`id`, `Assessments_grade4_math`.`Local_ID`, `Assessments_grade4_math`.`Math_CBA1_Percent_Score`, `Assessments_grade4_math`.`Math_CBA1_Date_Taken`, `Assessments_grade4_math`.`Math_CBA2_Percent_Score`, `Assessments_grade4_math`.`Math_CBA2_Date_Taken`, `Assessments_grade4_math`.`Math_CBA3_Percent_Score`, `Assessments_grade4_math`.`Math_CBA3_Date_Taken`, `Assessments_grade4_math`.`Math_CBA4_Percent_Score`, `Assessments_grade4_math`.`Math_CBA4_Date_Taken`, `Assessments_grade4_math`.`Math_CBA5_Percent_Score`, `Assessments_grade4_math`.`Math_CBA5_Date_Taken`, `Assessments_grade4_math`.`Math_CBA6_Percent_Score`, `Assessments_grade4_math`.`Math_CBA6_Date_Taken`, `Assessments_grade4_math`.`Math_CBA7_Percent_Score`, `Assessments_grade4_math`.`Math_CBA7_Date_Taken`, `Assessments_grade4_math`.`Math_CBA8_Percent_Score`, `Assessments_grade4_math`.`Math_CBA8_Date_Taken` FROM assessments_grade4_math', engine)
grade4_math.head()

,id,Local_ID,Math_CBA1_Percent_Score,Math_CBA1_Date_Taken,Math_CBA2_Percent_Score,Math_CBA2_Date_Taken,Math_CBA3_Percent_Score,Math_CBA3_Date_Taken,Math_CBA4_Percent_Score,Math_CBA4_Date_Taken,Math_CBA5_Percent_Score,Math_CBA5_Date_Taken,Math_CBA6_Percent_Score,Math_CBA6_Date_Taken,Math_CBA7_Percent_Score,Math_CBA7_Date_Taken,Math_CBA8_Percent_Score,Math_CBA8_Date_Taken
0,1,2682,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
1,2,2726,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,3,2812,70%,09/02/21,56%,09/23/21,80%,10/14/21,70%,11/04/21,70%,12/02/21,40%,02/11/22,50%,03/04/22,70%,03/31/22
3,4,2864,60%,09/02/21,39%,09/23/21,50%,10/14/21,70%,11/04/21,50%,12/02/21,80%,02/11/22,70%,03/04/22,40%,03/31/22
4,5,2770,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [226]:
#grade 4 reading data
grade4_reading = pd.read_sql('SELECT `Assessments_grade4_reading`.`id`, `Assessments_grade4_reading`.`Local_ID`, `Assessments_grade4_reading`.`Reading_CBA1_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA1_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA2_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA2_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA3_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA3_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA4_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA4_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA5_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA5_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA6_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA6_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA6_BIOGRAPHY_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA6_BIOGRAPHY_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA7_FICTION_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA7_FICTION_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA8_POETRY_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA8_POETRY_Date_Taken` FROM assessments_grade4_reading', engine)
grade4_reading.head()

,id,Local_ID,Reading_CBA1_Percent_Score,Reading_CBA1_Date_Taken,Reading_CBA2_Percent_Score,Reading_CBA2_Date_Taken,Reading_CBA3_Percent_Score,Reading_CBA3_Date_Taken,Reading_CBA4_Percent_Score,Reading_CBA4_Date_Taken,Reading_CBA5_Percent_Score,Reading_CBA5_Date_Taken,Reading_CBA6_Percent_Score,Reading_CBA6_Date_Taken,Reading_CBA6_BIOGRAPHY_Percent_Score,Reading_CBA6_BIOGRAPHY_Date_Taken,Reading_CBA7_FICTION_Percent_Score,Reading_CBA7_FICTION_Date_Taken,Reading_CBA8_POETRY_Percent_Score,Reading_CBA8_POETRY_Date_Taken
0,1,2682,-,-,-,-,50%,10/29/2020,-,-,-,-,33%,1/8/2021,-,-,-,-,-,-
1,2,2726,-,-,-,-,63%,10/29/2020,-,-,-,-,33%,1/8/2021,-,-,-,-,-,-
2,3,2812,75%,9/17/2021,75%,10/18/2021,63%,10/29/2021,71%,11/12/2021,50%,12/2/2021,-,-,50%,1/7/2022,60%,2/23/2022,80%,3/3/2022
3,4,2864,75%,9/17/2021,75%,10/18/2021,75%,10/29/2021,100%,11/12/2021,83%,12/2/2021,-,-,67%,1/7/2022,70%,2/23/2022,100%,3/3/2022
4,5,2770,-,-,-,-,63%,10/29/2020,-,-,-,-,50%,1/8/2021,-,-,-,-,-,-

In [227]:
#grade 5 math data
grade5_math = pd.read_sql('SELECT `Assessments_grade5_math`.`id`, `Assessments_grade5_math`.`Local_ID`, `Assessments_grade5_math`.`Module_2_CBA_Multiply_and_Divide_Percent_Score`, `Assessments_grade5_math`.`Module_2_CBA_Multiply_and_Divide_Date_Taken`, `Assessments_grade5_math`.`Multiply_and_Divide_Fractions_Percent_Score`, `Assessments_grade5_math`.`Multiply_and_Divide_Fractions_Date_Taken`, `Assessments_grade5_math`.`Multiplying_Decimals_Percent_Score`, `Assessments_grade5_math`.`Multiplying_Decimals_Date_Taken`, `Assessments_grade5_math`.`Multiplying_Decimals_MOD_Percent_Score`, `Assessments_grade5_math`.`Multiplying_Decimals_MOD_Date_Taken`, `Assessments_grade5_math`.`Add_and_Subtract_Fractions_Percent_Score`, `Assessments_grade5_math`.`Add_and_Subtract_Fractions_Date_Taken` FROM assessments_grade5_math', engine)
grade5_math.head()

,id,Local_ID,Module_2_CBA_Multiply_and_Divide_Percent_Score,Module_2_CBA_Multiply_and_Divide_Date_Taken,Multiply_and_Divide_Fractions_Percent_Score,Multiply_and_Divide_Fractions_Date_Taken,Multiplying_Decimals_Percent_Score,Multiplying_Decimals_Date_Taken,Multiplying_Decimals_MOD_Percent_Score,Multiplying_Decimals_MOD_Date_Taken,Add_and_Subtract_Fractions_Percent_Score,Add_and_Subtract_Fractions_Date_Taken
0,1,2682,88%,09/25/21,60%,12/09/21,-,-,91%,10/07/21,90%,10/30/21
1,2,2726,31%,09/25/21,73%,12/09/21,-,-,55%,10/07/21,50%,10/30/21
2,3,2919,-,-,-,-,-,-,-,-,-,-
3,4,2557,-,-,-,-,-,-,-,-,-,-
4,5,2770,56%,09/25/21,67%,12/09/21,72%,10/08/21,-,-,70%,10/30/21

In [228]:
#grade 5 reading data
grade5_reading = pd.read_sql('SELECT `Assessments_grade5_reading`.`id`, `Assessments_grade5_reading`.`Local_ID`, `Assessments_grade5_reading`.`CBA1_Narrative_Nonfiction_Percent_Score`, `Assessments_grade5_reading`.`CBA1_Narrative_Nonfiction_Date_Taken`, `Assessments_grade5_reading`.`CBA2_Expository_Folktale_Poetry_Percent_Score`, `Assessments_grade5_reading`.`CBA2_Expository_Folktale_Poetry_Date_Taken`, `Assessments_grade5_reading`.`CBA3_Realistic_Fiction_Percent_Score`, `Assessments_grade5_reading`.`CBA3_Realistic_Fiction_Date_Taken`, `Assessments_grade5_reading`.`CBA4_Biography_Drama_Poetry_Percent_Score`, `Assessments_grade5_reading`.`CBA4_Biography_Drama_Poetry_Date_Taken`, `Assessments_grade5_reading`.`CBA5_Expository_Historical_Fiction_Percent_Score`, `Assessments_grade5_reading`.`CBA5_Expository_Historical_Fiction_Date_Taken`, `Assessments_grade5_reading`.`CBA6_Argumentative_Text_Percent_Score`, `Assessments_grade5_reading`.`CBA6_Argumentative_Text_Date_Taken` FROM assessments_grade5_reading', engine)
grade5_reading.head()

,id,Local_ID,CBA1_Narrative_Nonfiction_Percent_Score,CBA1_Narrative_Nonfiction_Date_Taken,CBA2_Expository_Folktale_Poetry_Percent_Score,CBA2_Expository_Folktale_Poetry_Date_Taken,CBA3_Realistic_Fiction_Percent_Score,CBA3_Realistic_Fiction_Date_Taken,CBA4_Biography_Drama_Poetry_Percent_Score,CBA4_Biography_Drama_Poetry_Date_Taken,CBA5_Expository_Historical_Fiction_Percent_Score,CBA5_Expository_Historical_Fiction_Date_Taken,CBA6_Argumentative_Text_Percent_Score,CBA6_Argumentative_Text_Date_Taken
0,1,2682,69%,09/22/21,50%,11/02/21,36%,12/08/21,20%,01/31/22,70%,03/28/22,60%,04/18/22
1,2,2726,54%,09/22/21,50%,11/02/21,64%,12/08/21,80%,01/31/22,70%,03/28/22,50%,04/18/22
2,3,2919,-,-,-,-,-,-,-,-,-,-,-,-
3,4,2557,-,-,-,-,-,-,-,-,-,-,-,-
4,5,2770,77%,09/22/21,30%,11/02/21,55%,12/08/21,30%,01/31/22,60%,03/28/22,90%,04/18/22

In [229]:
#grade 6 math data
grade6_math = pd.read_sql('SELECT `Assessments_grade6_math`.`id`, `Assessments_grade6_math`.`Local_ID`, `Assessments_grade6_math`.`Geometry_Test_Percent_Score`, `Assessments_grade6_math`.`Geometry_Test_Date_Taken`, `Assessments_grade6_math`.`Geometry_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Geometry_Test_mod_Date_Taken`, `Assessments_grade6_math`.`histograms_box_plots_Percent_Score`, `Assessments_grade6_math`.`histograms_box_plots_Date_Taken`, `Assessments_grade6_math`.`histograms_box_plots_MOD_Percent_Score`, `Assessments_grade6_math`.`histograms_box_plots_MOD_Date_Taken`, `Assessments_grade6_math`.`metric_mean_median_Percent_Score`, `Assessments_grade6_math`.`metric_mean_median_Date_Taken`, `Assessments_grade6_math`.`metric_mean_median_MOD_Percent_Score`, `Assessments_grade6_math`.`metric_mean_median_MOD_Date_Taken`, `Assessments_grade6_math`.`Algebraic_Representations_Test_Percent_Score`, `Assessments_grade6_math`.`Algebraic_Representations_Test_Date_Taken`, `Assessments_grade6_math`.`Algebraic_Representations_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Algebraic_Representations_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Expressions_Test_Percent_Score`, `Assessments_grade6_math`.`Expressions_Test_Date_Taken`, `Assessments_grade6_math`.`Expressions_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Expressions_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Financial_Literacy_Percent_Score`, `Assessments_grade6_math`.`Financial_Literacy_Date_Taken`, `Assessments_grade6_math`.`Financial_Literacy_MOD_Percent_Score`, `Assessments_grade6_math`.`Financial_Literacy_MOD_Date_Taken`, `Assessments_grade6_math`.`Integers_Test_Percent_Score`, `Assessments_grade6_math`.`Integers_Test_Date_Taken`, `Assessments_grade6_math`.`Integers_Test_mod_2_Percent_Score`, `Assessments_grade6_math`.`Integers_Test_mod_2_Date_Taken`, `Assessments_grade6_math`.`Numerical_Representations_Percent_Score`, `Assessments_grade6_math`.`Numerical_Representations_Date_Taken`, `Assessments_grade6_math`.`Percent_Test_Percent_Score`, `Assessments_grade6_math`.`Percent_Test_Date_Taken`, `Assessments_grade6_math`.`Integers_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Integers_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Numerical_Representations_Mod_Percent_Score`, `Assessments_grade6_math`.`Numerical_Representations_Mod_Date_Taken`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Positive_Rational_Numbers_Percent_Score`, `Assessments_grade6_math`.`Positive_Rational_Numbers_Date_Taken`, `Assessments_grade6_math`.`Positive_Rational_Numbers_mod_Percent_Score`, `Assessments_grade6_math`.`Positive_Rational_Numbers_mod_Date_Taken`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_Percent_Score`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_Date_Taken`, `Assessments_grade6_math`.`Percents_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Percents_Test_mod_Date_Taken` FROM assessments_grade6_math', engine)
grade6_math.head()

,id,Local_ID,Geometry_Test_Percent_Score,Geometry_Test_Date_Taken,Geometry_Test_mod_Percent_Score,Geometry_Test_mod_Date_Taken,histograms_box_plots_Percent_Score,histograms_box_plots_Date_Taken,histograms_box_plots_MOD_Percent_Score,histograms_box_plots_MOD_Date_Taken,...,Ratios_and_Rates_Test_mod_Percent_Score,Ratios_and_Rates_Test_mod_Date_Taken,Positive_Rational_Numbers_Percent_Score,Positive_Rational_Numbers_Date_Taken,Positive_Rational_Numbers_mod_Percent_Score,Positive_Rational_Numbers_mod_Date_Taken,Ratios_and_Rates_Test_Percent_Score,Ratios_and_Rates_Test_Date_Taken,Percents_Test_mod_Percent_Score,Percents_Test_mod_Date_Taken
0,1,2919,40%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,40%,09/22/21,-,-,30%,10/21/21,-,-
1,2,2557,50%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,80%,09/22/21,-,-,40%,10/21/21,-,-
2,3,2577,100%,02/08/22,-,-,100%,03/30/22,-,-,...,-,-,100%,09/22/21,-,-,90%,10/21/21,-,-
3,4,2593,70%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,90%,09/22/21,-,-,50%,10/21/21,-,-
4,5,2733,100%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,80%,09/22/21,-,-,90%,10/21/21,-,-

In [230]:
#grade 6 reading
grade6_reading = pd.read_sql('SELECT `Assessments_grade6_reading`.`id`, `Assessments_grade6_reading`.`Local_ID`, `Assessments_grade6_reading`.`ELA_CBA_1_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_1_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_2_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_2_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_3_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_3_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_4_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_4_Date_Taken`, `Assessments_grade6_reading`.`ELA_Parts_of_Speech_Percent_Score`, `Assessments_grade6_reading`.`ELA_Parts_of_Speech_Date_Taken`,`Assessments_grade6_reading`.`Figurative_Language_Test_Percent_Score`, `Assessments_grade6_reading`.`Figurative_Language_Test_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_5_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_5_Date_Taken`, `Assessments_grade6_reading`.`CBA_2_Percent_Score`, `Assessments_grade6_reading`.`CBA_2_Date_Taken`, `Assessments_grade6_reading`.`CBA_3_Percent_Score`, `Assessments_grade6_reading`.`CBA_3_Date_Taken`, `Assessments_grade6_reading`.`Reading_CBA_4_Percent_Score`, `Assessments_grade6_reading`.`Reading_CBA_4_Date_Taken`, `Assessments_grade6_reading`.`CBA_5_Percent_Score`, `Assessments_grade6_reading`.`CBA_5_Date_Taken`, `Assessments_grade6_reading`.`CBA_7_Percent_Score`, `Assessments_grade6_reading`.`CBA_7_Date_Taken`, `Assessments_grade6_reading`.`CBA_10_Percent_Score`, `Assessments_grade6_reading`.`CBA_10_Date_Taken`, `Assessments_grade6_reading`.`Reading_CBA_9_Percent_Score`, `Assessments_grade6_reading`.`Reading_CBA_9_Date_Taken`, `Assessments_grade6_reading`.`CBA_8_Percent_Score`, `Assessments_grade6_reading`.`CBA_8_Date_Taken`, `Assessments_grade6_reading`.`Benchmark_Percent_Score`, `Assessments_grade6_reading`.`Benchmark_Date_Taken` FROM assessments_grade6_reading', engine)
grade6_reading.head()

,id,Local_ID,ELA_CBA_1_Percent_Score,ELA_CBA_1_Date_Taken,ELA_CBA_2_Percent_Score,ELA_CBA_2_Date_Taken,ELA_CBA_3_Percent_Score,ELA_CBA_3_Date_Taken,ELA_CBA_4_Percent_Score,ELA_CBA_4_Date_Taken,...,CBA_7_Percent_Score,CBA_7_Date_Taken,CBA_10_Percent_Score,CBA_10_Date_Taken,Reading_CBA_9_Percent_Score,Reading_CBA_9_Date_Taken,CBA_8_Percent_Score,CBA_8_Date_Taken,Benchmark_Percent_Score,Benchmark_Date_Taken
0,1,2348,-,-,90%,09/13/20,50%,10/13/20,80%,10/29/20,...,-,-,-,-,-,-,-,-,-,-
1,2,2462,-,-,90%,09/13/20,90%,10/13/20,70%,10/29/20,...,-,-,-,-,-,-,-,-,-,-
2,3,2813,-,-,90%,09/13/20,50%,10/13/20,70%,10/29/20,...,-,-,-,-,-,-,-,-,-,-
3,4,2919,30%,09/03/21,70%,09/22/21,50%,10/20/21,60%,11/05/21,...,60%,01/21/22,50%,04/18/22,53%,03/01/22,77%,02/08/22,29%,02/17/22
4,5,2557,50%,09/03/21,30%,09/22/21,90%,10/20/21,70%,11/05/21,...,80%,01/21/22,42%,04/18/22,60%,03/01/22,46%,02/08/22,45%,02/17/22

In [231]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken
0,1,2812,-,-,-,-,73%,12/10/2019,87%,11/4/2019,79%,9/20/2019
1,2,2919,-,-,-,-,60%,2/26/2018,-,-,-,-
2,3,2557,-,-,-,-,100%,2/26/2018,-,-,-,-
3,4,2864,-,-,-,-,93%,12/10/2019,80%,11/4/2019,71%,9/20/2019
4,5,2877,-,-,-,-,93%,11/23/2020,80%,10/27/2020,67%,9/7/2020

In [232]:
import numpy as np
grade2_math = grade2_math.replace('-', np.nan)
grade2_math["DRTM_Percent_Score"] = grade2_math["DRTM_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [233]:
grade2_math["FLCBA_Percent_Score"] = grade2_math["FLCBA_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [234]:
grade2_math["CBA2D3D_Percent_Score"] = grade2_math["CBA2D3D_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [235]:
grade2_math["MDCBA_Percent_Score"] = grade2_math["MDCBA_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [236]:
grade2_math["PVCBA_Percent_Score"] = grade2_math["PVCBA_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [237]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken
0,1,2812,NaN,NaN,NaN,NaN,73.0,12/10/2019,87.0,11/4/2019,79.0,9/20/2019
1,2,2919,NaN,NaN,NaN,NaN,60.0,2/26/2018,NaN,NaN,NaN,NaN
2,3,2557,NaN,NaN,NaN,NaN,100.0,2/26/2018,NaN,NaN,NaN,NaN
3,4,2864,NaN,NaN,NaN,NaN,93.0,12/10/2019,80.0,11/4/2019,71.0,9/20/2019
4,5,2877,NaN,NaN,NaN,NaN,93.0,11/23/2020,80.0,10/27/2020,67.0,9/7/2020

In [238]:
grade2_math["mean"] = grade2_math.loc[:, ["DRTM_Percent_Score", "FLCBA_Percent_Score", "CBA2D3D_Percent_Score", "MDCBA_Percent_Score", "PVCBA_Percent_Score"]].mean(axis = 1)
grade2_math['DRTM_Date_Taken'] = pd.to_datetime(grade2_math['DRTM_Date_Taken'])
grade2_math['FLCBA_Date_Taken'] = pd.to_datetime(grade2_math['FLCBA_Date_Taken'])
grade2_math['CBA2D3D_Date_Taken'] = pd.to_datetime(grade2_math['CBA2D3D_Date_Taken'])
grade2_math['MDCBA_Date_Taken'] = pd.to_datetime(grade2_math['MDCBA_Date_Taken'])
grade2_math['PVCBA_Date_Taken'] = pd.to_datetime(grade2_math['PVCBA_Date_Taken'])

In [239]:
grade2_math.head()
# grade2_math.dtypes
#localid here is the same as email
#email can then be mapped to loginId (not the same)

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken,mean
0,1,2812,NaN,NaT,NaN,NaT,73.0,2019-12-10,87.0,2019-11-04,79.0,2019-09-20,79.666667
1,2,2919,NaN,NaT,NaN,NaT,60.0,2018-02-26,NaN,NaT,NaN,NaT,60.000000
2,3,2557,NaN,NaT,NaN,NaT,100.0,2018-02-26,NaN,NaT,NaN,NaT,100.000000
3,4,2864,NaN,NaT,NaN,NaT,93.0,2019-12-10,80.0,2019-11-04,71.0,2019-09-20,81.333333
4,5,2877,NaN,NaT,NaN,NaT,93.0,2020-11-23,80.0,2020-10-27,67.0,2020-09-07,80.000000

In [240]:
grade2_math["max_date"] = grade2_math[["DRTM_Date_Taken", "FLCBA_Date_Taken", "CBA2D3D_Date_Taken", "MDCBA_Date_Taken", "PVCBA_Date_Taken"]].max(1)

In [241]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken,mean,max_date
0,1,2812,NaN,NaT,NaN,NaT,73.0,2019-12-10,87.0,2019-11-04,79.0,2019-09-20,79.666667,2019-12-10
1,2,2919,NaN,NaT,NaN,NaT,60.0,2018-02-26,NaN,NaT,NaN,NaT,60.000000,2018-02-26
2,3,2557,NaN,NaT,NaN,NaT,100.0,2018-02-26,NaN,NaT,NaN,NaT,100.000000,2018-02-26
3,4,2864,NaN,NaT,NaN,NaT,93.0,2019-12-10,80.0,2019-11-04,71.0,2019-09-20,81.333333,2019-12-10
4,5,2877,NaN,NaT,NaN,NaT,93.0,2020-11-23,80.0,2020-10-27,67.0,2020-09-07,80.000000,2020-11-23

In [242]:
grade2_math["no_year"] = grade2_math['max_date'].dt.strftime('%m-%d')

In [243]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken,mean,max_date,no_year
0,1,2812,NaN,NaT,NaN,NaT,73.0,2019-12-10,87.0,2019-11-04,79.0,2019-09-20,79.666667,2019-12-10,12-10
1,2,2919,NaN,NaT,NaN,NaT,60.0,2018-02-26,NaN,NaT,NaN,NaT,60.000000,2018-02-26,02-26
2,3,2557,NaN,NaT,NaN,NaT,100.0,2018-02-26,NaN,NaT,NaN,NaT,100.000000,2018-02-26,02-26
3,4,2864,NaN,NaT,NaN,NaT,93.0,2019-12-10,80.0,2019-11-04,71.0,2019-09-20,81.333333,2019-12-10,12-10
4,5,2877,NaN,NaT,NaN,NaT,93.0,2020-11-23,80.0,2020-10-27,67.0,2020-09-07,80.000000,2020-11-23,11-23

In [244]:
grade2_math.loc[(grade2_math['no_year'] >  '07/31'), 'next_year'] = 'True'
grade2_math.loc[(grade2_math['no_year'] <  '07/31'), 'next_year'] = 'False'

In [245]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken,mean,max_date,no_year,next_year
0,1,2812,NaN,NaT,NaN,NaT,73.0,2019-12-10,87.0,2019-11-04,79.0,2019-09-20,79.666667,2019-12-10,12-10,True
1,2,2919,NaN,NaT,NaN,NaT,60.0,2018-02-26,NaN,NaT,NaN,NaT,60.000000,2018-02-26,02-26,False
2,3,2557,NaN,NaT,NaN,NaT,100.0,2018-02-26,NaN,NaT,NaN,NaT,100.000000,2018-02-26,02-26,False
3,4,2864,NaN,NaT,NaN,NaT,93.0,2019-12-10,80.0,2019-11-04,71.0,2019-09-20,81.333333,2019-12-10,12-10,True
4,5,2877,NaN,NaT,NaN,NaT,93.0,2020-11-23,80.0,2020-10-27,67.0,2020-09-07,80.000000,2020-11-23,11-23,True

In [246]:
#now I need to add school year that the student is in. If its 2018-2019, then label it as 2019
#after I need to decide

In [247]:
#get top 25 most used software
top_25_software = pd.read_sql('SELECT urlAppId, appdetails, SUM(totalSpentTime) AS TotalTime FROM students_analytics WHERE districtid="14085" GROUP BY urlAppId ORDER BY TotalTime DESC LIMIT 25', engine)

In [248]:
print(top_25_software)

    urlAppId                                         appdetails   TotalTime
0       84.0  https://docs.google.com/document/d/1KZH0J2OGq2...  27829679.0
1       80.0                     https://classroom.google.com/h  21287550.0
2       79.0  https://www.google.com/search?q=what+is+in+a+c...  18161456.0
3       70.0  https://www.wlwv.k12.or.us/cms/lib/OR01001812/...   9774768.0
4       69.0  https://docs.google.com/presentation/d/120ppYO...   9614340.0
5       68.0   https://secure.istation.com/Account/ChooseDomain   5736349.0
6       75.0  https://louise.schoolobjects.com/Aware/OnlineT...   5134254.0
7       77.0  https://useast-www.securly.com/blocked?userema...   4763861.0
8   113910.0  https://www.britannica.com/event/War-of-1812#:...   4367009.0
9       67.0  https://docs.google.com/forms/d/e/1FAIpQLScYe3...   4094839.0
10     429.0                             https://www.zearn.org/   4083704.0
11      73.0  https://www.google.com/search?q=Dichotomous+ke...   3321176.0
12      85.0  https://quizizz.com/admin/quiz/5b8e77e984879b0...   3095881.0
13      83.0  https://meet.google.com/cms-ybbw-poq?authuser=...   2960172.0
14  272220.0                             https://www.zearn.org/   2224535.0
15       NaN  https://www.hmhbooks.com/shop/books/the-van-go...   1724147.0
16      78.0  https://www.google.com/search?q=what+is+the+sl...   1439639.0
17      89.0  https://kahoot.it/challenge/02753431?challenge...   1436617.0
18     107.0              https://www.blooket.com/play/register   1367728.0
19      72.0  https://clever.com/oauth/authorize?channel=cle...   1250960.0
20     456.0  https://www.google.com/search?q=kahoot.it&rlz=...   1120343.0
21     345.0         https://www.nitrotype.com/#expired-session    961412.0
22      71.0                    https://www.getepic.com/sign-in    911081.0
23      88.0  https://docs.google.com/forms/u/0/d/e/1FAIpQLS...    807850.0
24     417.0                           https://scratch.mit.edu/    775544.0

In [249]:
grade2_math.loc[(grade2_math['next_year'] ==  'True'), 'min_date'] = grade2_math['max_date'].apply(lambda dt: dt.replace(day=1, month=8))
grade2_math.loc[(grade2_math['next_year'] ==  'False'), 'min_date'] = grade2_math['max_date'].apply(lambda dt: dt.replace(day=1, month=8))
grade2_math.loc[(grade2_math['next_year'] ==  'False'), 'min_date'] = grade2_math['min_date'] - pd.offsets.DateOffset(years=1)
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken,mean,max_date,no_year,next_year,min_date
0,1,2812,NaN,NaT,NaN,NaT,73.0,2019-12-10,87.0,2019-11-04,79.0,2019-09-20,79.666667,2019-12-10,12-10,True,2019-08-01
1,2,2919,NaN,NaT,NaN,NaT,60.0,2018-02-26,NaN,NaT,NaN,NaT,60.000000,2018-02-26,02-26,False,2017-08-01
2,3,2557,NaN,NaT,NaN,NaT,100.0,2018-02-26,NaN,NaT,NaN,NaT,100.000000,2018-02-26,02-26,False,2017-08-01
3,4,2864,NaN,NaT,NaN,NaT,93.0,2019-12-10,80.0,2019-11-04,71.0,2019-09-20,81.333333,2019-12-10,12-10,True,2019-08-01
4,5,2877,NaN,NaT,NaN,NaT,93.0,2020-11-23,80.0,2020-10-27,67.0,2020-09-07,80.000000,2020-11-23,11-23,True,2020-08-01

In [250]:
grade2_math['docs.google.com'] = 0
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,DRTM_Date_Taken,FLCBA_Percent_Score,FLCBA_Date_Taken,CBA2D3D_Percent_Score,CBA2D3D_Date_Taken,MDCBA_Percent_Score,MDCBA_Date_Taken,PVCBA_Percent_Score,PVCBA_Date_Taken,mean,max_date,no_year,next_year,min_date,docs.google.com
0,1,2812,NaN,NaT,NaN,NaT,73.0,2019-12-10,87.0,2019-11-04,79.0,2019-09-20,79.666667,2019-12-10,12-10,True,2019-08-01,0
1,2,2919,NaN,NaT,NaN,NaT,60.0,2018-02-26,NaN,NaT,NaN,NaT,60.000000,2018-02-26,02-26,False,2017-08-01,0
2,3,2557,NaN,NaT,NaN,NaT,100.0,2018-02-26,NaN,NaT,NaN,NaT,100.000000,2018-02-26,02-26,False,2017-08-01,0
3,4,2864,NaN,NaT,NaN,NaT,93.0,2019-12-10,80.0,2019-11-04,71.0,2019-09-20,81.333333,2019-12-10,12-10,True,2019-08-01,0
4,5,2877,NaN,NaT,NaN,NaT,93.0,2020-11-23,80.0,2020-10-27,67.0,2020-09-07,80.000000,2020-11-23,11-23,True,2020-08-01,0