In [47]:
from sqlalchemy import create_engine

In [48]:
host='localhost'
user='root'
password='Alliance98'
port= 3306
database='swye360'

def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )

In [49]:
engine = get_connection()
print(f"Connection to the {host} for user {user} created successfully.")

Connection to the localhost for user root created successfully.

In [50]:
import pandas as pd

In [51]:
#grade 2 math data
grade2_math = pd.read_sql('SELECT `assessments_grade2`.`id`, `assessments_grade2`.`Local_ID`, `assessments_grade2`.`DRTM_Percent_Score`, `assessments_grade2`.`FLCBA_Percent_Score`, `assessments_grade2`.`CBA2D3D_Percent_Score`, `assessments_grade2`.`MDCBA_Percent_Score`, `assessments_grade2`.`PVCBA_Percent_Score` FROM assessments_grade2', engine)
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,FLCBA_Percent_Score,CBA2D3D_Percent_Score,MDCBA_Percent_Score,PVCBA_Percent_Score
0,1,2812,-,-,73%,87%,79%
1,2,2919,-,-,60%,-,-
2,3,2557,-,-,100%,-,-
3,4,2864,-,-,93%,80%,71%
4,5,2877,-,-,93%,80%,67%

In [52]:
#grade 3 math data
grade3_math = pd.read_sql('SELECT `Assessments_grade3_math`.`id`, `Assessments_grade3_math`.`Local_ID`, `Assessments_grade3_math`.`Math_CBA1_Percent_Score`, `Assessments_grade3_math`.`Math_CBA1_Date_Taken`, `Assessments_grade3_math`.`CBA_2_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_2_Math_Date_Taken`, `Assessments_grade3_math`.`CBA_3_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_3_Math_Date_Taken`, `Assessments_grade3_math`.`CBA_4_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_4_Math_Date_Taken`, `Assessments_grade3_math`.`CBA_5_Math_Percent_Score`, `Assessments_grade3_math`.`CBA_5_Math_Date_Taken` FROM assessments_grade3_math', engine)
grade3_math.head()

,id,Local_ID,Math_CBA1_Percent_Score,Math_CBA1_Date_Taken,CBA_2_Math_Percent_Score,CBA_2_Math_Date_Taken,CBA_3_Math_Percent_Score,CBA_3_Math_Date_Taken,CBA_4_Math_Percent_Score,CBA_4_Math_Date_Taken,CBA_5_Math_Percent_Score,CBA_5_Math_Date_Taken
0,1,3283,42%,09/19/21,75%,11/03/21,75%,12/13/21,50%,02/10/22,50%,03/30/22
1,2,3279,50%,09/19/21,58%,11/03/21,-,-,-,-,-,-
2,3,3166,-,-,-,-,-,-,-,-,-,-
3,4,2812,-,-,-,-,-,-,-,-,-,-
4,5,2864,-,-,-,-,-,-,-,-,-,-

In [53]:
#grade 3 reading data
grade3_reading = pd.read_sql('SELECT `Assessments_grade3_reading`.`id`, `Assessments_grade3_reading`.`Local_ID`, `Assessments_grade3_reading`.`Reading_Non_Fiction_Percent_Score`, `Assessments_grade3_reading`.`Reading_Non_Fiction_Date_Taken`, `Assessments_grade3_reading`.`Reading_2021_Percent_Score`, `Assessments_grade3_reading`.`Reading_2021_Date_Taken`, `Assessments_grade3_reading`.`McCrary_CBA3_Reading_Percent_Score`, `Assessments_grade3_reading`.`McCrary_CBA3_Reading_Date_Taken`, `Assessments_grade3_reading`.`Reading_Test_Percent_Score`, `Assessments_grade3_reading`.`Reading_Test_Date_Taken`, `Assessments_grade3_reading`.`McCrary_CBA4_Reading_Percent_Score`, `Assessments_grade3_reading`.`McCrary_CBA4_Reading_Date_Taken`, `Assessments_grade3_reading`.`Benchmark_2019_Percent_Score`, `Assessments_grade3_reading`.`Benchmark_2019_Date_Taken`, `Assessments_grade3_reading`.`Reading_fiction_Percent_Score`, `Assessments_grade3_reading`.`Reading_fiction_Date_Taken`, `Assessments_grade3_reading`.`Reading_CBA5_Percent_Score`, `Assessments_grade3_reading`.`Reading_CBA5_Date_Taken` FROM assessments_grade3_reading', engine)
grade3_reading.head()

,id,Local_ID,Reading_Non_Fiction_Percent_Score,Reading_Non_Fiction_Date_Taken,Reading_2021_Percent_Score,Reading_2021_Date_Taken,McCrary_CBA3_Reading_Percent_Score,McCrary_CBA3_Reading_Date_Taken,Reading_Test_Percent_Score,Reading_Test_Date_Taken,McCrary_CBA4_Reading_Percent_Score,McCrary_CBA4_Reading_Date_Taken,Benchmark_2019_Percent_Score,Benchmark_2019_Date_Taken,Reading_fiction_Percent_Score,Reading_fiction_Date_Taken,Reading_CBA5_Percent_Score,Reading_CBA5_Date_Taken
0,1,3283,20%,09/22/21,60%,11/04/21,60%,12/13/21,60%,01/19/22,60%,02/07/22,59%,04/14/22,60%,10/14/21,20%,03/30/22
1,2,3279,-,-,30%,11/04/21,-,-,-,-,-,-,-,-,70%,10/14/21,-,-
2,3,3166,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,4,2812,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,5,2864,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [54]:
#grade 4 math data
grade4_math = pd.read_sql('SELECT `Assessments_grade4_math`.`id`, `Assessments_grade4_math`.`Local_ID`, `Assessments_grade4_math`.`Math_CBA1_Percent_Score`, `Assessments_grade4_math`.`Math_CBA1_Date_Taken`, `Assessments_grade4_math`.`Math_CBA2_Percent_Score`, `Assessments_grade4_math`.`Math_CBA2_Date_Taken`, `Assessments_grade4_math`.`Math_CBA3_Percent_Score`, `Assessments_grade4_math`.`Math_CBA3_Date_Taken`, `Assessments_grade4_math`.`Math_CBA4_Percent_Score`, `Assessments_grade4_math`.`Math_CBA4_Date_Taken`, `Assessments_grade4_math`.`Math_CBA5_Percent_Score`, `Assessments_grade4_math`.`Math_CBA5_Date_Taken`, `Assessments_grade4_math`.`Math_CBA6_Percent_Score`, `Assessments_grade4_math`.`Math_CBA6_Date_Taken`, `Assessments_grade4_math`.`Math_CBA7_Percent_Score`, `Assessments_grade4_math`.`Math_CBA7_Date_Taken`, `Assessments_grade4_math`.`Math_CBA8_Percent_Score`, `Assessments_grade4_math`.`Math_CBA8_Date_Taken` FROM assessments_grade4_math', engine)
grade4_math.head()

,id,Local_ID,Math_CBA1_Percent_Score,Math_CBA1_Date_Taken,Math_CBA2_Percent_Score,Math_CBA2_Date_Taken,Math_CBA3_Percent_Score,Math_CBA3_Date_Taken,Math_CBA4_Percent_Score,Math_CBA4_Date_Taken,Math_CBA5_Percent_Score,Math_CBA5_Date_Taken,Math_CBA6_Percent_Score,Math_CBA6_Date_Taken,Math_CBA7_Percent_Score,Math_CBA7_Date_Taken,Math_CBA8_Percent_Score,Math_CBA8_Date_Taken
0,1,2682,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
1,2,2726,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,3,2812,70%,09/02/21,56%,09/23/21,80%,10/14/21,70%,11/04/21,70%,12/02/21,40%,02/11/22,50%,03/04/22,70%,03/31/22
3,4,2864,60%,09/02/21,39%,09/23/21,50%,10/14/21,70%,11/04/21,50%,12/02/21,80%,02/11/22,70%,03/04/22,40%,03/31/22
4,5,2770,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [55]:
#grade 4 reading data
grade4_reading = pd.read_sql('SELECT `Assessments_grade4_reading`.`id`, `Assessments_grade4_reading`.`Local_ID`, `Assessments_grade4_reading`.`Reading_CBA1_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA1_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA2_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA2_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA3_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA3_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA4_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA4_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA5_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA5_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA6_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA6_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA6_BIOGRAPHY_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA6_BIOGRAPHY_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA7_FICTION_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA7_FICTION_Date_Taken`, `Assessments_grade4_reading`.`Reading_CBA8_POETRY_Percent_Score`, `Assessments_grade4_reading`.`Reading_CBA8_POETRY_Date_Taken` FROM assessments_grade4_reading', engine)
grade4_reading.head()

,id,Local_ID,Reading_CBA1_Percent_Score,Reading_CBA1_Date_Taken,Reading_CBA2_Percent_Score,Reading_CBA2_Date_Taken,Reading_CBA3_Percent_Score,Reading_CBA3_Date_Taken,Reading_CBA4_Percent_Score,Reading_CBA4_Date_Taken,Reading_CBA5_Percent_Score,Reading_CBA5_Date_Taken,Reading_CBA6_Percent_Score,Reading_CBA6_Date_Taken,Reading_CBA6_BIOGRAPHY_Percent_Score,Reading_CBA6_BIOGRAPHY_Date_Taken,Reading_CBA7_FICTION_Percent_Score,Reading_CBA7_FICTION_Date_Taken,Reading_CBA8_POETRY_Percent_Score,Reading_CBA8_POETRY_Date_Taken
0,1,2682,-,-,-,-,50%,10/29/2020,-,-,-,-,33%,1/8/2021,-,-,-,-,-,-
1,2,2726,-,-,-,-,63%,10/29/2020,-,-,-,-,33%,1/8/2021,-,-,-,-,-,-
2,3,2812,75%,9/17/2021,75%,10/18/2021,63%,10/29/2021,71%,11/12/2021,50%,12/2/2021,-,-,50%,1/7/2022,60%,2/23/2022,80%,3/3/2022
3,4,2864,75%,9/17/2021,75%,10/18/2021,75%,10/29/2021,100%,11/12/2021,83%,12/2/2021,-,-,67%,1/7/2022,70%,2/23/2022,100%,3/3/2022
4,5,2770,-,-,-,-,63%,10/29/2020,-,-,-,-,50%,1/8/2021,-,-,-,-,-,-

In [56]:
#grade 5 math data
grade5_math = pd.read_sql('SELECT `Assessments_grade5_math`.`id`, `Assessments_grade5_math`.`Local_ID`, `Assessments_grade5_math`.`Module_2_CBA_Multiply_and_Divide_Percent_Score`, `Assessments_grade5_math`.`Module_2_CBA_Multiply_and_Divide_Date_Taken`, `Assessments_grade5_math`.`Multiply_and_Divide_Fractions_Percent_Score`, `Assessments_grade5_math`.`Multiply_and_Divide_Fractions_Date_Taken`, `Assessments_grade5_math`.`Multiplying_Decimals_Percent_Score`, `Assessments_grade5_math`.`Multiplying_Decimals_Date_Taken`, `Assessments_grade5_math`.`Multiplying_Decimals_MOD_Percent_Score`, `Assessments_grade5_math`.`Multiplying_Decimals_MOD_Date_Taken`, `Assessments_grade5_math`.`Add_and_Subtract_Fractions_Percent_Score`, `Assessments_grade5_math`.`Add_and_Subtract_Fractions_Date_Taken` FROM assessments_grade5_math', engine)
grade5_math.head()

,id,Local_ID,Module_2_CBA_Multiply_and_Divide_Percent_Score,Module_2_CBA_Multiply_and_Divide_Date_Taken,Multiply_and_Divide_Fractions_Percent_Score,Multiply_and_Divide_Fractions_Date_Taken,Multiplying_Decimals_Percent_Score,Multiplying_Decimals_Date_Taken,Multiplying_Decimals_MOD_Percent_Score,Multiplying_Decimals_MOD_Date_Taken,Add_and_Subtract_Fractions_Percent_Score,Add_and_Subtract_Fractions_Date_Taken
0,1,2682,88%,09/25/21,60%,12/09/21,-,-,91%,10/07/21,90%,10/30/21
1,2,2726,31%,09/25/21,73%,12/09/21,-,-,55%,10/07/21,50%,10/30/21
2,3,2919,-,-,-,-,-,-,-,-,-,-
3,4,2557,-,-,-,-,-,-,-,-,-,-
4,5,2770,56%,09/25/21,67%,12/09/21,72%,10/08/21,-,-,70%,10/30/21

In [57]:
#grade 5 reading data
grade5_reading = pd.read_sql('SELECT `Assessments_grade5_reading`.`id`, `Assessments_grade5_reading`.`Local_ID`, `Assessments_grade5_reading`.`CBA1_Narrative_Nonfiction_Percent_Score`, `Assessments_grade5_reading`.`CBA1_Narrative_Nonfiction_Date_Taken`, `Assessments_grade5_reading`.`CBA2_Expository_Folktale_Poetry_Percent_Score`, `Assessments_grade5_reading`.`CBA2_Expository_Folktale_Poetry_Date_Taken`, `Assessments_grade5_reading`.`CBA3_Realistic_Fiction_Percent_Score`, `Assessments_grade5_reading`.`CBA3_Realistic_Fiction_Date_Taken`, `Assessments_grade5_reading`.`CBA4_Biography_Drama_Poetry_Percent_Score`, `Assessments_grade5_reading`.`CBA4_Biography_Drama_Poetry_Date_Taken`, `Assessments_grade5_reading`.`CBA5_Expository_Historical_Fiction_Percent_Score`, `Assessments_grade5_reading`.`CBA5_Expository_Historical_Fiction_Date_Taken`, `Assessments_grade5_reading`.`CBA6_Argumentative_Text_Percent_Score`, `Assessments_grade5_reading`.`CBA6_Argumentative_Text_Date_Taken` FROM assessments_grade5_reading', engine)
grade5_reading.head()

,id,Local_ID,CBA1_Narrative_Nonfiction_Percent_Score,CBA1_Narrative_Nonfiction_Date_Taken,CBA2_Expository_Folktale_Poetry_Percent_Score,CBA2_Expository_Folktale_Poetry_Date_Taken,CBA3_Realistic_Fiction_Percent_Score,CBA3_Realistic_Fiction_Date_Taken,CBA4_Biography_Drama_Poetry_Percent_Score,CBA4_Biography_Drama_Poetry_Date_Taken,CBA5_Expository_Historical_Fiction_Percent_Score,CBA5_Expository_Historical_Fiction_Date_Taken,CBA6_Argumentative_Text_Percent_Score,CBA6_Argumentative_Text_Date_Taken
0,1,2682,69%,09/22/21,50%,11/02/21,36%,12/08/21,20%,01/31/22,70%,03/28/22,60%,04/18/22
1,2,2726,54%,09/22/21,50%,11/02/21,64%,12/08/21,80%,01/31/22,70%,03/28/22,50%,04/18/22
2,3,2919,-,-,-,-,-,-,-,-,-,-,-,-
3,4,2557,-,-,-,-,-,-,-,-,-,-,-,-
4,5,2770,77%,09/22/21,30%,11/02/21,55%,12/08/21,30%,01/31/22,60%,03/28/22,90%,04/18/22

In [58]:
#grade 6 math data
grade6_math = pd.read_sql('SELECT `Assessments_grade6_math`.`id`, `Assessments_grade6_math`.`Local_ID`, `Assessments_grade6_math`.`Geometry_Test_Percent_Score`, `Assessments_grade6_math`.`Geometry_Test_Date_Taken`, `Assessments_grade6_math`.`Geometry_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Geometry_Test_mod_Date_Taken`, `Assessments_grade6_math`.`histograms_box_plots_Percent_Score`, `Assessments_grade6_math`.`histograms_box_plots_Date_Taken`, `Assessments_grade6_math`.`histograms_box_plots_MOD_Percent_Score`, `Assessments_grade6_math`.`histograms_box_plots_MOD_Date_Taken`, `Assessments_grade6_math`.`metric_mean_median_Percent_Score`, `Assessments_grade6_math`.`metric_mean_median_Date_Taken`, `Assessments_grade6_math`.`metric_mean_median_MOD_Percent_Score`, `Assessments_grade6_math`.`metric_mean_median_MOD_Date_Taken`, `Assessments_grade6_math`.`Algebraic_Representations_Test_Percent_Score`, `Assessments_grade6_math`.`Algebraic_Representations_Test_Date_Taken`, `Assessments_grade6_math`.`Algebraic_Representations_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Algebraic_Representations_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Expressions_Test_Percent_Score`, `Assessments_grade6_math`.`Expressions_Test_Date_Taken`, `Assessments_grade6_math`.`Expressions_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Expressions_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Financial_Literacy_Percent_Score`, `Assessments_grade6_math`.`Financial_Literacy_Date_Taken`, `Assessments_grade6_math`.`Financial_Literacy_MOD_Percent_Score`, `Assessments_grade6_math`.`Financial_Literacy_MOD_Date_Taken`, `Assessments_grade6_math`.`Integers_Test_Percent_Score`, `Assessments_grade6_math`.`Integers_Test_Date_Taken`, `Assessments_grade6_math`.`Integers_Test_mod_2_Percent_Score`, `Assessments_grade6_math`.`Integers_Test_mod_2_Date_Taken`, `Assessments_grade6_math`.`Numerical_Representations_Percent_Score`, `Assessments_grade6_math`.`Numerical_Representations_Date_Taken`, `Assessments_grade6_math`.`Percent_Test_Percent_Score`, `Assessments_grade6_math`.`Percent_Test_Date_Taken`, `Assessments_grade6_math`.`Integers_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Integers_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Numerical_Representations_Mod_Percent_Score`, `Assessments_grade6_math`.`Numerical_Representations_Mod_Date_Taken`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_mod_Date_Taken`, `Assessments_grade6_math`.`Positive_Rational_Numbers_Percent_Score`, `Assessments_grade6_math`.`Positive_Rational_Numbers_Date_Taken`, `Assessments_grade6_math`.`Positive_Rational_Numbers_mod_Percent_Score`, `Assessments_grade6_math`.`Positive_Rational_Numbers_mod_Date_Taken`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_Percent_Score`, `Assessments_grade6_math`.`Ratios_and_Rates_Test_Date_Taken`, `Assessments_grade6_math`.`Percents_Test_mod_Percent_Score`, `Assessments_grade6_math`.`Percents_Test_mod_Date_Taken` FROM assessments_grade6_math', engine)
grade6_math.head()

,id,Local_ID,Geometry_Test_Percent_Score,Geometry_Test_Date_Taken,Geometry_Test_mod_Percent_Score,Geometry_Test_mod_Date_Taken,histograms_box_plots_Percent_Score,histograms_box_plots_Date_Taken,histograms_box_plots_MOD_Percent_Score,histograms_box_plots_MOD_Date_Taken,...,Ratios_and_Rates_Test_mod_Percent_Score,Ratios_and_Rates_Test_mod_Date_Taken,Positive_Rational_Numbers_Percent_Score,Positive_Rational_Numbers_Date_Taken,Positive_Rational_Numbers_mod_Percent_Score,Positive_Rational_Numbers_mod_Date_Taken,Ratios_and_Rates_Test_Percent_Score,Ratios_and_Rates_Test_Date_Taken,Percents_Test_mod_Percent_Score,Percents_Test_mod_Date_Taken
0,1,2919,40%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,40%,09/22/21,-,-,30%,10/21/21,-,-
1,2,2557,50%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,80%,09/22/21,-,-,40%,10/21/21,-,-
2,3,2577,100%,02/08/22,-,-,100%,03/30/22,-,-,...,-,-,100%,09/22/21,-,-,90%,10/21/21,-,-
3,4,2593,70%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,90%,09/22/21,-,-,50%,10/21/21,-,-
4,5,2733,100%,02/08/22,-,-,70%,03/30/22,-,-,...,-,-,80%,09/22/21,-,-,90%,10/21/21,-,-

In [59]:
#grade 6 reading
grade6_reading = pd.read_sql('SELECT `Assessments_grade6_reading`.`id`, `Assessments_grade6_reading`.`Local_ID`, `Assessments_grade6_reading`.`ELA_CBA_1_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_1_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_2_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_2_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_3_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_3_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_4_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_4_Date_Taken`, `Assessments_grade6_reading`.`ELA_Parts_of_Speech_Percent_Score`, `Assessments_grade6_reading`.`ELA_Parts_of_Speech_Date_Taken`,`Assessments_grade6_reading`.`Figurative_Language_Test_Percent_Score`, `Assessments_grade6_reading`.`Figurative_Language_Test_Date_Taken`, `Assessments_grade6_reading`.`ELA_CBA_5_Percent_Score`, `Assessments_grade6_reading`.`ELA_CBA_5_Date_Taken`, `Assessments_grade6_reading`.`CBA_2_Percent_Score`, `Assessments_grade6_reading`.`CBA_2_Date_Taken`, `Assessments_grade6_reading`.`CBA_3_Percent_Score`, `Assessments_grade6_reading`.`CBA_3_Date_Taken`, `Assessments_grade6_reading`.`Reading_CBA_4_Percent_Score`, `Assessments_grade6_reading`.`Reading_CBA_4_Date_Taken`, `Assessments_grade6_reading`.`CBA_5_Percent_Score`, `Assessments_grade6_reading`.`CBA_5_Date_Taken`, `Assessments_grade6_reading`.`CBA_7_Percent_Score`, `Assessments_grade6_reading`.`CBA_7_Date_Taken`, `Assessments_grade6_reading`.`CBA_10_Percent_Score`, `Assessments_grade6_reading`.`CBA_10_Date_Taken`, `Assessments_grade6_reading`.`Reading_CBA_9_Percent_Score`, `Assessments_grade6_reading`.`Reading_CBA_9_Date_Taken`, `Assessments_grade6_reading`.`CBA_8_Percent_Score`, `Assessments_grade6_reading`.`CBA_8_Date_Taken`, `Assessments_grade6_reading`.`Benchmark_Percent_Score`, `Assessments_grade6_reading`.`Benchmark_Date_Taken` FROM assessments_grade6_reading', engine)
grade6_reading.head()

,id,Local_ID,ELA_CBA_1_Percent_Score,ELA_CBA_1_Date_Taken,ELA_CBA_2_Percent_Score,ELA_CBA_2_Date_Taken,ELA_CBA_3_Percent_Score,ELA_CBA_3_Date_Taken,ELA_CBA_4_Percent_Score,ELA_CBA_4_Date_Taken,...,CBA_7_Percent_Score,CBA_7_Date_Taken,CBA_10_Percent_Score,CBA_10_Date_Taken,Reading_CBA_9_Percent_Score,Reading_CBA_9_Date_Taken,CBA_8_Percent_Score,CBA_8_Date_Taken,Benchmark_Percent_Score,Benchmark_Date_Taken
0,1,2348,-,-,90%,09/13/20,50%,10/13/20,80%,10/29/20,...,-,-,-,-,-,-,-,-,-,-
1,2,2462,-,-,90%,09/13/20,90%,10/13/20,70%,10/29/20,...,-,-,-,-,-,-,-,-,-,-
2,3,2813,-,-,90%,09/13/20,50%,10/13/20,70%,10/29/20,...,-,-,-,-,-,-,-,-,-,-
3,4,2919,30%,09/03/21,70%,09/22/21,50%,10/20/21,60%,11/05/21,...,60%,01/21/22,50%,04/18/22,53%,03/01/22,77%,02/08/22,29%,02/17/22
4,5,2557,50%,09/03/21,30%,09/22/21,90%,10/20/21,70%,11/05/21,...,80%,01/21/22,42%,04/18/22,60%,03/01/22,46%,02/08/22,45%,02/17/22

In [60]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,FLCBA_Percent_Score,CBA2D3D_Percent_Score,MDCBA_Percent_Score,PVCBA_Percent_Score
0,1,2812,-,-,73%,87%,79%
1,2,2919,-,-,60%,-,-
2,3,2557,-,-,100%,-,-
3,4,2864,-,-,93%,80%,71%
4,5,2877,-,-,93%,80%,67%

In [61]:
import numpy as np
grade2_math = grade2_math.replace('-', np.nan)
grade2_math["DRTM_Percent_Score"] = grade2_math["DRTM_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [62]:
grade2_math["FLCBA_Percent_Score"] = grade2_math["FLCBA_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [63]:
grade2_math["CBA2D3D_Percent_Score"] = grade2_math["CBA2D3D_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [64]:
grade2_math["MDCBA_Percent_Score"] = grade2_math["MDCBA_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [65]:
grade2_math["PVCBA_Percent_Score"] = grade2_math["PVCBA_Percent_Score"].dropna().astype(str).str.rstrip("%").astype("float")

In [66]:
grade2_math.head()

,id,Local_ID,DRTM_Percent_Score,FLCBA_Percent_Score,CBA2D3D_Percent_Score,MDCBA_Percent_Score,PVCBA_Percent_Score
0,1,2812,NaN,NaN,73.0,87.0,79.0
1,2,2919,NaN,NaN,60.0,NaN,NaN
2,3,2557,NaN,NaN,100.0,NaN,NaN
3,4,2864,NaN,NaN,93.0,80.0,71.0
4,5,2877,NaN,NaN,93.0,80.0,67.0

In [67]:
grade2_math["mean"] = grade2_math.loc[:, ["DRTM_Percent_Score", "FLCBA_Percent_Score", "CBA2D3D_Percent_Score", "MDCBA_Percent_Score", "PVCBA_Percent_Score"]].mean(axis = 1)

In [68]:
grade2_math.head()
#localid here is the same as email
#email can then be mapped to loginId (not the same)

,id,Local_ID,DRTM_Percent_Score,FLCBA_Percent_Score,CBA2D3D_Percent_Score,MDCBA_Percent_Score,PVCBA_Percent_Score,mean
0,1,2812,NaN,NaN,73.0,87.0,79.0,79.666667
1,2,2919,NaN,NaN,60.0,NaN,NaN,60.000000
2,3,2557,NaN,NaN,100.0,NaN,NaN,100.000000
3,4,2864,NaN,NaN,93.0,80.0,71.0,81.333333
4,5,2877,NaN,NaN,93.0,80.0,67.0,80.000000